**/node_modules
node_modules

# DS store files
.DS_Store
src/.DS_Store
src/assets/.DS_Store
src/assets/images/.DS_Store

# dotenv environment variables file
.env
.env.test

# Kathryn storage file:
src/storage.js