/* Hero Image */
#hero-container-adrian {
  padding: 0; 
}

/*Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
